.classpath
**/.classpath
/dev.properties
**/.DS_Store
/env.properties
**/.externalToolBuilders
**/logs
.project
**/.project
/.settings
**/.settings
**/target
**/test-output
.factorypath
.vscode/

# IntelliJ
.idea/
*.iml
*.ipr
